.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.modal {
    width: 450px;
    height: 400px;
    background: white;
    color: white;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
    /* height: 50px; */
    background: white;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.heading {
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.modalContent {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
}

.userDetailsFieldContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formSelectorTabs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formTab {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 18px;

    border: 1px solid black;
    cursor: pointer;
}

.unselectedTab {
    background-color: grey;
}

.errorMessage {
    margin-bottom: 5px;
    color: red;
}