.calculatorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: rgb(253, 243, 234);
    border: 1px solid black;
    border-radius: 8px;

    width: 450px;
    height: auto;
}

.valueContainer {
    padding: 10px 5px;
    display: flex;
    justify-content: end;
}

.memoryIndicator {
    float: left;
}

.currentValue {
    font-size: 36px;
    font-weight: bold;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;

    padding: 0px 4px;
}

.buttonRow {
    display: flex;
    gap: 2px;
}

.calculatorBtn {
    cursor: pointer;
    font-size: 24px;
    border-radius: 8px;
    width: 100%;
    height: 100%;

    padding: 10px 0;

    border: none;
}

.basicBtn {
    background-color: rgb(216, 204, 194);
}

.memoryBtn {
    font-size: 16px;
    background: none;
}

.operatorBtn {
    background-color: rgb(231, 215, 195);
}

.equalsBtn {
    background-color: rgb(143, 58, 24);
    color: white;
}

.fadedBtn {
    color: rgba(0, 0, 0, 0.466);
}

.memoryBtn:hover {
    background-color: rgb(138, 131, 122);
}

.calculatorBtn:hover {
    background-color: rgb(138, 131, 122);
}